# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# Local artifacts and caches
.pytest_cache/
.ipynb_checkpoints/

# App-specific
bb0122_artifacts/
temp/

# Git
.git/

# Environment files
.env
